{% extends 'base.html' %}


{% block body %}

<div class="container"> 
   {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
  <h1 class="text-center"> Add Empolyee Details</h1>
  <form action="/" method="post">
    <div class="mb-3">
      <label for="" class="form-label">Full name</label>
      <input type="text" class="form-control" name="name" id="" placeholder="Enter Full Name">
    </div>
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" name="email" id="" placeholder="Enter Full Name">
    </div>
    <div class="mb3">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
<div class="container">
  <h2 class="text-center">All Empolyee Data</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">SNo</th>
        <th scope="col">Full name</th>
        <th scope="col">Email Address</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for i in employees %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{i.name}}</td>
        <td>{{i.email}}</td>
        <td>
          <a href="/update/{{i.sno}}" class="btn btn-dark btn-sm" role="button">Update</a>
          <a href="/delete/{{i.sno}}" class="btn btn-dark btn-sm" role="button">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>








{% endblock body %}

<!-- sqlachemy is python sql toolkit that provides a way for python applications to inteact with realtional databases. -->
<!-- //ORM = Object realtional -->