{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1 class="text-center"> Update Employee Details</h1>
    <form action="/update/{{employee.sno}}" method="POST">
        <div class="mb-3">
            <label for="" class="form-label">Full name</label>
            <input type="text" class="form-control" name="name" value="{{employee.name}}" id="" placeholder="Enter Full Name">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Email</label>
            <input type="email" class="form-control" name="email"  value="{{employee.email}}" id="" placeholder="Enter Full Name">
        </div>
        <div class="mb3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    {% endblock body %}